{% extends 'base.html' %}
{% load static %}

{% block title %}{{ site.brand }} - About{% endblock %}

{% block hero %}
    {% include 'includes/page-header.html' with page_title='About' %}
{% endblock %}

{% block content %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="{% static 'img/about-1.jpg' %}">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="{% static 'img/about-2.jpg' %}" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="{% static 'img/about-3.jpg' %}">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="{% static 'img/about-4.jpg' %}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">About Us</h5>
                <h1 class="mb-4">Welcome to <i class="fa fa-utensils text-primary me-2"></i>{{ site.brand }}</h1>
                <p class="mb-4">
                    {{ site.brand }} از سال ۱۳۸۹ در حال پذیرایی از مهمانان است. آشپزخانه ما با مواد اولیه روز
                    و دستورهای اصیل کار می‌کند و رزرو میز کاملا آنلاین انجام می‌شود.
                </p>
                <p class="mb-4">
                    برای رزرو میز کافی است تاریخ، ساعت و تعداد نفرات را انتخاب کنید؛ سیستم به‌صورت خودکار
                    مناسب‌ترین میز خالی را به شما اختصاص می‌دهد.
                </p>
                <a class="btn btn-primary py-3 px-5 mt-2" href="{% url 'reservation:booking' %}">Book A Table</a>
            </div>
        </div>
    </div>
</div>

{% include 'includes/team.html' %}
{% endblock %}
