<div class="container-xxl pt-5 pb-3">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Team Members</h5>
            <h1 class="mb-5">{{ section_title|default:"Our Master Chefs" }}</h1>
        </div>
        <div class="row g-4">
            {% for chef in chefs %}
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.{{ forloop.counter }}s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="{{ chef.image.url }}" alt="{{ chef.full_name }}">
                    </div>
                    <h5 class="mb-0">{{ chef.full_name }}</h5>
                    <small>{{ chef.designation }}</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1" href="{{ chef.facebook|default:'#' }}"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href="{{ chef.twitter|default:'#' }}"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href="{{ chef.instagram|default:'#' }}"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12 text-center text-muted py-4">هنوز سرآشپزی ثبت نشده است.</div>
            {% endfor %}
        </div>
    </div>
</div>
